.review-container {
  width: 400px;
  margin: 40px auto;
  background-color: #ece8e4; /* nền xám nhạt */
  padding: 20px;
  border-radius: 20px;
  font-family: Arial, sans-serif;
}

.review-container h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.review-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  margin-top: 15px;
}

.review-container select,
.review-container input,
.review-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.review-container textarea {
  height: 80px;
  resize: none;
}

.review-container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #d1d1d1;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
